<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Les transferts effectuer sont</h1>
    <table border="1px">
        <thead>
            <tr>
                <th>date</th>
                <th>centre</th>
                <th>produit</th>
                <th>Quentite</th>
            </tr>
        </thead>
        <tbody>
            {% for transfert in transferts %}
            <tr>
                <td>{{transfert.date_transfert}}</td>
                <td>{{transfert.centre}}</td>
                <td>{{transfert.matierePremiere}}</td>
                <td>{{transfert.quantite}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>