<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if achats %}
    <h2>Liste des achats</h2>
    <table border="1px">
      <thead>
        <tr>
          <th>Produit</th>
          <th>Fournisseur</th>
          <th>Date</th>
          <th>Quantite</th>
          <th>Montant total</th>
          <th>Montant paye</th>
          <th>Montant restant</th>
        </tr>
      </thead>
      <tbody>
        {%for achat in achats %}
        <tr>
          <td>{{achat.produit}}</td>
          <td>{{achat.fournisseur}}</td>
          <td>{{achat.date_achat}}</td>
          <td>{{achat.quantite}}</td>
          <td>{{achat.montant_total_achat_ht}}</td>
          <td>{{achat.montant_paye}}</td>
          <td>{{ achat.montant_reste }}</td>
          <td>
            <form method="post" action="{% url 'delete_achat' achat.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h1>aucune achat n'est effectué</h1>
    {% endif%}
    </ul>
  </body>
</html>
