<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Liste des achats</h2>
    <table>
      <thead>
        <tr>
          <th>Produit</th>
          <th>Fournisseur</th>
          <th>Quantite</th>
        </tr>
      </thead>
      <tbody>
        {%for achat in achats %}
        <tr>
          <td>{{achat.produit}}</td>
          <td>{{achat.fournisseur}}</td>
          <td>{{achat.quantite}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- <ul>
      {% for achat in achats %}
      <li>
        {{ achat.produit }} - {{ achat.fournisseur }} - {{ achat.quantite }}
      </li>
      {% endfor %} -->
    </ul>
  </body>
</html>
