<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>liste des produits dans le magasin</h1>
    <a href="{% url 'produits' %}">Ajouter produit</a>
    <table border="1px">
        <thead>
          <tr>
            <th>Nom du produit</th>
            <th>Discription</th>
            <th>Prix d'achat</th>
          </tr>
        </thead>
        <tbody>
          {%for produit in produits %}
          <tr>
            <td>{{produit.NomP}}</td>
            <td>{{produit.Description}}</td>
            <td>{{produit.prix_achat}}</td>
            <td>
              <form method="post" action="{% url 'delete_Produit' produit.Code %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Supprimer</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>