{% extends 'home1.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello {{ centre.designation }}</h1>

        <a href="{% url 'list_employes' centre_id=centre.Code %}"><button type="button">liste employe</button></a>
        <a href="{% url 'fiche_transfert_centres' centre_id=centre.Code %}"><button>liste des transfert</button></a>
        <a href="#"><button>Liste ventes</button></a>
</body>
</html> 
{% endblock %}