{% extends 'home1.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    {% if employes %}
    <h1>voici les employes du {{ employes.0.centre.designation }}</h1>
    <a href="{% url 'employes' centre_id=centre_id %}"><button class="btn btn-secondary">Ajouter un employé</button></a>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Num Tlf</th>
                <th>Salaire</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
            <tr>
                <td>{{ employe.NomE }}</td>
                <td>{{ employe.AdrE }}</td>
                <td>{{ employe.Email }}</td>
                <td>{{ employe.Tlf }}</td>
                <td>{{ employe.Salaire }}</td>
                <td>
                    <form method="post" action="{% url 'paiment_journalier' employe_id=employe.CodeE %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Ajouter info</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'modifier_employe' employe.CodeE %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Modifer</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'delete_emloyes' employe_id=employe.CodeE %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>Aucun employe inseret</h1>
    <a href="{% url 'employes' centre_id=centre_id %}"><button class="btn btn-secondary">Ajouter un employé</button></a>
    {% endif%}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</html>
{% endblock %}