{% extends 'home1.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <title>Document</title>
  </head>
  <body>
    <h2>Achat</h2>
    <div class="formulaire_achat">
      <form method="post" class="formulaire">
        {% csrf_token %}
        
        <label for="{{ form.matierePremiere.id_for_label }}">Matière Première:</label>
        {{ form.matierePremiere }}
        
        <label for="{{ form.fournisseur.id_for_label }}">Fournisseur:</label>
        {{ form.fournisseur }}
        
        <label for="{{ form.quantite.id_for_label }}" class="recherche">Quantité:</label>
        {{ form.quantite }}
        
        <label for="{{ form.prix_unitaire_ht.id_for_label }}">Prix unitaire HT:</label>
        {{ form.prix_unitaire_ht }}

        <label for="{{ form.date_achat.id_for_label }}">Date d'achat:</label>
        {{ form.date_achat }}
        
        <button type="submit">Valider</button>
    </form>
    </div>
   
  </body>
</html>
{% endblock %}