{% extends 'home1.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Document</title>
    {{ form.media.css }}
    <style>
        input, select {width: 50%}
    </style>
  </head>
  <body>
    {% if achats %}
    <h2>Liste des achats</h2>
    <form method="get" action="{% url 'liste_achats' %}">
      {{ myfilter.form.as_p }}
      <button type="submit">Rechercher</button>
   </form>
   <a href="{%url 'liste_fournisseurs'%}"><button>La liste de vos fournisseurs</button></a>
   <a href="{% url 'achat'%}"><button>Ajouter un achat</button></a>
    <table  class="table table-success table-striped">
      <thead>
        <tr>
          <th>Produit</th>
          <th>Fournisseur</th>
          <th>Date</th>
          <th>Quantite</th>
          <th>Montant total</th>
          <th>Montant paye</th>
          <th>Montant rester</th>
        </tr>
      </thead>
      <tbody>
        {%for achat in achats %}
        <tr>
          <td>{{achat.matierePremiere}}</td>
          <td>{{achat.fournisseur}}</td>
          <td>{{achat.date_achat}}</td>
          <td>{{achat.quantite}}</td>
          <td>{{achat.montant_total_achat_ht}}</td>
          <td>{{achat.montant_paye}}</td>
          <td>{{achat.montant_reste}}</td>
          <td>
            <form method="post" action="{% url 'delete_achat' achat.CodeAchat %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
          </td>
          <td>
            <form method="post" action="{% url 'modifier_achat' achat.CodeAchat %}">
              {% csrf_token %}
              <button type="submit"class="btn btn-success">Modifier</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h1>aucune achat n'est effectué</h1>
    <a href="{% url 'liste_achats' %}"><button>Retoure à la liste</button></a>
    <a href="{% url 'achat'%}"><button>Ajouter un achat</button></a>
    {% endif%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
{% endblock %}