<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <h3>Modifier Achat</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <a class="btn btn-danger" href=" {% url 'liste_fournisseurs' %}"> Annuler</a>
             <input type="submit" value="Modifier">
        </form>       
    </body>
</body>
</html>